# Telegram Bot
BOT_TOKEN=7810372208:AAHxJv97Mh3aHZDbgOsApwkVEHFi4si7K-0
BOT_USERNAME=Omni_Market_price_bot

# Database
DATABASE_URL=postgresql+asyncpg://pricebot:pricebot@db:5432/pricebot
DATABASE_URL_SYNC=postgresql+psycopg2://pricebot:pricebot@db:5432/pricebot

# Redis/Celery
REDIS_URL=redis://redis:6379/1
CELERY_BROKER=redis://redis:6379/1
CELERY_BACKEND=redis://redis:6379/2

# Parser API Keys (добавьте ключи для каждого клиента)
PARSER_API_KEY_SEB=WKLculgyZrUuldii7Oq0yNmIKdE=
PARSER_API_KEY_DF=WKLculgyZrUuldii7Oq0yNmIKdE=

# Ozon API Configuration
OZON_CLIENT_ID_SEB=2229598
OZON_API_KEY_SEB=f5799144-b8e1-45ad-aaea-5ec570ad241c
OZON_CLIENT_ID_DF=102216
OZON_API_KEY_DF=268c6e82-ff66-4944-aa16-9665f153c07d

# Wildberries API Configuration
WB_API_KEY_SEB=your_seb_wb_api_key
WB_API_KEY_DF=your_df_wb_api_key

# Logging
LOG_LEVEL=INFO 